name: Build

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    build:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php-versions: ['8.4', '8.5']
        name: PHP ${{ matrix.php-versions }}

        steps:
            - uses: actions/checkout@v4

            - name: Install PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php-versions }}
                  extensions: json, gd, imagick
                  ini-values: date.timezone=Europe/Paris
            - name: Check PHP Version
              run: php -v

            - name: Install SVG renderer commands
              run: |
                sudo apt-get update
                sudo apt-get install -y inkscape librsvg2-bin

            - name: Validate composer.json and composer.lock
              run: composer validate --strict

            - name: Install dependencies
              run: composer install --prefer-dist --no-progress

            - name: Run test suite
              run: vendor/bin/phpunit

            - name: Upload failed images
              if: failure()
              uses: actions/upload-artifact@v4
              with:
                name: failed-images-${{ github.run_id }}
                path: reports/failed_images/*
                if-no-files-found: 'ignore'
                overwrite: 'true'

    analysis:
        name: Analysis
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: Set Timezone
              uses: szenius/set-timezone@v1.0
              with:
                  timezoneLinux: "Europe/Paris"

            - name: Install PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.4
                  extensions: json
                  ini-values: date.timezone=Europe/Paris
#
#            - name: Install Infection
#              run: |
#                wget https://github.com/infection/infection/releases/download/0.28.1/infection.phar
#                wget https://github.com/infection/infection/releases/download/0.28.1/infection.phar.asc
#                chmod +x infection.phar
#                gpg --recv-keys C6D76C329EBADE2FB9C458CFC5095986493B4AA0 && gpg --with-fingerprint --verify infection.phar.asc infection.phar

            - name: Validate composer.json and composer.lock
              run: composer validate --strict

            - name: Install dependencies
              run: composer install --prefer-dist --no-progress

            - name: Run type coverage
              run: ./vendor/bin/phpstan

            - name: Run checkstyle
              run: ./vendor/bin/php-cs-fixer check --diff

#            - name: Run Infection
#              run: |
#                ./infection.phar --logger-github

    coverage:
        name: Test coverage
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2

            - name: Set Timezone
              uses: szenius/set-timezone@v1.0
              with:
                  timezoneLinux: "Europe/Paris"

            - name: Install PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.4
                  extensions: json, gd, imagick
                  ini-values: date.timezone=Europe/Paris

            - name: Install SVG renderer commands
              run: |
                  sudo apt-get update
                  sudo apt-get install -y inkscape librsvg2-bin

            - name: Install dependencies
              run: composer install --prefer-dist --no-progress

            - name: Run test coverage
              run: ./vendor/bin/phpunit --coverage-clover=coverage.xml

            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v4
              with:
                  files: coverage.xml
                  token: ${{ secrets.CODECOV_TOKEN }}
